<div class="container"
     style="width: 1145px; margin-top: 20px; margin-bottom: 180px;">
    <div ng-controller="CartFormController"
         style="margin-bottom: 30px">
        <div ng-init="getCart()">
            <br> List of Products Purchased
            <div>

                <a class="btn btn-danger pull-left" ng-click="clearCart()"
                   style="margin-top: 15px; margin-left: 20px"> <span
                        class="glyphicon glyphicon-remove-sign"> </span>Clear Cart
                </a>
            </div>
            <div>
                <url value="/order/" var="url1"></url>

                <a ui-sref="collectCustomerInfo" class="btn btn-danger pull-left"
                   style="margin-top: 15px; margin-left: 20px"> <span
                        class="glyphicon glyphicon-shipping-cart"> </span>Check Out
                </a>
            </div>
            <table class="table table-hover" id="productList">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total Price</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cart in carts.cartItem">
                    <td>{{cart.productName}}</td>
                    <td>{{cart.quality}}</td>
                    <td>{{cart.price}}</td>
                    <td><a href="#" class="btn btn-danger"
                           ng-click="removeFromCart(cart.cartItemId)"
                           style="margin-top: 0px;"><span
                            class="glyphicon glyphicon-trash"></span>remove</a></td>
                </tbody>
            </table>
            Grand Total Price: {{carts.totalPrice}}
        </div>
        <a ui-sref="productList" class="btn btn-default" style="margin-left: 20px">Continue
            Shopping</a>
    </div>
</div>